<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></th>
        <td><%= link_to 'I think they are a terrorist', user_path(user), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
