<h3>We want to make sure you are accessing this portal in accordance with the law</h3>

<%= link_to 'I have received a FISA warrant', dashboard_proceed_path, method: :post, class: 'btn btn-large btn-block btn-success' %>
<%= link_to 'I have not received a FISA warrant', '#', class: 'btn btn-large btn-block btn-danger', id: 'no-warrant-btn' %>
