<h1>
  <%= link_to @user.name, user_path(@user) %>'s
  <%= link_to @association.name.to_s.singularize, user_data_path(@user, name: @association.name) %>
  #<%= @record.id %>
</h1>

<%= image_tag 'nsa_panel/fuck_you.jpg' %>
